@use "main.scss";

html { 
    overflow-x: hidden;
}
 
body {
    @include main.dFlex($j: start); 
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    width: 100%;   
    color: var(--text-color); 
    background-color: var(--bg-color);
 
    transition: all 0.25s ease-in-out;

    // ================================
    // Navigation Bar 
    // ================================   
    header {
        position: relative;
        border: 2px var(--text-color) solid;

        // background-color: var(--brand-color-secondary);
        &::before {
            display: none;
        }

        .leftContainer {
            .companyName {
                color: var(--text-color);
                text-shadow: none;
            }
        }

        .rightContainer {
            .navBar {
                .switchDisplayModeBtn {
                    filter: none;

                }

                .profileBtn {
                    @include main.dFlex();
                    background-color: var(--white-01);
                    border-radius: 100%;
                    text-decoration: none;
                    width: 2.4rem;
                    height: 2.4rem;
                    margin: 0rem 0.5rem;
                    border: var(--black-01) 2px solid;
                    box-shadow: 0 0 0.1rem var(--shadow-color);

                    img {
                        height: 90%;
                    }
                }
            }
        }
    }

    main {
        @include main.dFlex($fd: row, $a: start, $j: space-around);
        height: 100%;
        width: 100%;
        padding: 5rem 0rem;



        .tableContainer {
            height: calc(100vh - 3.5rem - 4px - 3.4rem - 10rem - 8px);
            overflow: auto;

            width: 42.5%;

            .dataTable {
                position: relative;
                width: 100%;
                border-collapse: collapse;
                border-radius: 1rem;


                .dataHeaderRow {
                    font-size: 1.2rem;
                    background-color: var(--bg-color);
                    width: 100%;
                    border-bottom: 2px solid var(--dark-green);





                    .dataHeader {
                        text-align: left;
                        font-weight: 300;
                        padding: 1rem;
                        color: var(--grey-01);
                        background-color: var(--bg-color);
                        transition: all 0.25s ease-in-out;


                        &:nth-child(3), 
                        &:nth-child(2) {
                            text-align: center; 
                        }
                    }
                }

                .dataContentRow {
                    font-size: 1.5rem;
                    border-bottom: 2px dotted var(--dark-green);

                    .dataContent {
                        text-align: left;
                        font-weight: 500;  
                        padding: 1rem;
                        color: var(--text-color);
                        &:nth-child(3), 
                        &:nth-child(2) {
                            text-align: center; 
                        }
                    }
                    .status {
                        position: relative;
                        width: 3rem;
                        &::after {
                            content: " "; 
                            @include main.absCenter(); 
                            height: 1rem; 
                            width: 1rem;
                            border: solid 2px var(--text-color);
                            background-color: var(--light-grey-color);
                            border-radius: 100%;
                        }

                        &.statusLight::after {
                            background-color: var(--green-color);
                        }
                        &.statusMedium::after {
                            background-color: var(--yellow-color);
                        }
                        &.statusHeavy::after {
                            background-color: var(--red-color);
                        }
                    }
                }
            }
        }

        #map {
            width: 42.5%;
            min-height: calc(100vh - 3.5rem - 4px - 3.4rem - 10rem - 8px);
            height: 100%;
            border: solid 4px var(--dark-green);
            border-radius: 1rem;

        }
    }

    .btnContainer {
        @include main.absCenter();
        position: fixed;
        top: 95%;
        padding: 0.5rem 0rem;
    }

}


@media (max-width: 720px) {
    body {
        main {
            padding: 1rem 0rem;
            flex-direction: column-reverse;
            align-items: center;

            .tableContainer {
                height: auto;
                width: 90%;
                margin-bottom: 2rem;
            }

            #map {
                width: 90%;
                margin-bottom: 2rem;
            }
        }
    }
}


 