@use "main.scss";

body {
    @include main.dFlex();
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden; 
    background-color: var(--bg-color); 
    transition: all 0.25s ease-in-out;
    box-shadow: inset 0 0 50vw 50vw var(--light-green);

    header {
        @include main.dFlex();
        left: auto; 
        right: 0; 
        width: 3.5rem;
        height: 3.5rem;
        border: 2px var(--dark-green) solid;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        padding: 0.5rem;

        .switchDisplayModeBtn {
            z-index: 101;
            height: 60%; 
            width: 60%;
            border: none;
            // margin: 0rem 0.5rem;
        }
    }

    main {
        @include main.dFlex();
        width: 90%;
        max-width: 400px;

        border: solid 5px var(--dark-green);
        border-radius: 2rem;
        padding: 5rem 0rem;
        box-shadow: 0 0 0.5rem var(--shadow-color);

        background-color: var(--light-green);
        color: var(--dark-green);
        margin: 1rem 0rem;

        .imgContainer { 
            padding: 2rem;
            img {
                max-width: 200px;
            }  
        }

        h3 {
            font-size: 1.2rem;
            width: 90%;
        }

        form {
            @include main.dFlex();
            font-size: 1.5rem;
            width: 90%;

            .inputContainer {
                position: relative;
                width: 95%;
                margin: 1rem 0rem;

                label {
                    position: absolute;
                    font-weight: 700;
                    top: 50%;
                    left: 1rem;
                    background-color: var(--light-green);
                    padding: 0rem 0.5rem;
                    transform: translateY(-200%);
                    font-size: 1rem;
                }

                input {
                    width: 90%;
                    font-size: 1.5rem;
                    outline: none;
                    border: 2px solid var(--dark-green);
                    color: var(--dark-green);
                    background: transparent;
                    border-radius: 12px;
                    padding: 1rem 5%;

                }
            } 

            .forgotPasswordLink {
                align-self: flex-end;
                color: var(--grey-01);
                font-size: 1.2rem;
                margin-bottom: 1rem; 
            }

            .submitBtn {
                width: 95%; 
                font-size: 1.5rem;
                border: 2px solid var(--dark-green);
                border-radius: 12px; 
                padding: 1rem 5%;
                color: var(--dark-green);
                background-color: transparent;
                font-weight: 700;
                cursor: pointer;
                margin-bottom: 1rem;  
                transition: all 0.25s ease-in-out;
                &:focus
                &:hover {
                    background-color: var(--dark-green);
                    color: var(--light-green);
                }

            }

            .textContainer {
                @include main.dFlex($fd: row);
                flex-wrap: wrap;
                text-align: center;
                font-size: 1.2rem;

                a {
                    padding: 0rem 0.5rem;
                    color: var(--url-color);
                }
            }
        }
    }
    .displayMessageContainer {
        @include main.dFlex(); 
    }
}