@use "main.scss";

body {
    @include main.dFlex();
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--bg-color);
    transition: all 0.25s ease-in-out;
    box-shadow: inset 0 0 50vw 50vw var(--light-green);

    header {
        @include main.dFlex();
        left: auto;
        right: 0;
        width: 3.5rem; 
        height: 3.5rem;
        border: 2px var(--dark-green) solid;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        padding: 0.5rem;

        .switchDisplayModeBtn {
            z-index: 101;
            height: 60%;
            width: 60%;
            border: none;
            // margin: 0rem 0.5rem;
        }
    }

    main {
        @include main.dFlex();
        width: 90%;
        max-width: 400px;

        border: solid 5px var(--dark-green);
        border-radius: 2rem;
        padding: 5rem 0rem;
        box-shadow: 0 0 0.5rem var(--shadow-color);

        background-color: var(--light-green);
        color: var(--dark-green);
        margin: 1rem 0rem;

        .imgContainer {
            padding: 2rem;

            img {
                max-width: 200px;
            }
        }
 
        h3 {
            font-size: 1.2rem;
            width: 90%;
        }
        h5 {
            font-size: 1.5rem;
            width: 90%;
        }

        p, a {
            font-size: 1.2rem;
            text-align: center;
            width: 95%;
            color: var(--text-color)
        }

        form {
            @include main.dFlex();
            font-size: 1.5rem;
            width: 90%;


            .inputContainer {
                position: relative;
                width: 95%;
                margin: 1rem 0rem;

                label {
                    position: absolute;
                    font-weight: 700;
                    top: 50%;
                    left: 1rem;
                    background-color: var(--light-green);
                    padding: 0rem 0.5rem;
                    transform: translateY(-200%);
                    font-size: 1rem;
                }

                input, select {
                    width: 90%;
                    font-size: 1.5rem;
                    outline: none;
                    border: 2px solid var(--dark-green);
                    color: var(--dark-green);
                    background: transparent;
                    border-radius: 12px;
                    padding: 1rem 5%;

                }

                select {
                    width: 100%;
                    appearance: none; 
            -webkit-appearance: none;
                }
                
            }

            .radioContainer {
                position: relative;
                @include main.dFlex($fd: row);
                border: var(--text-color) 2px solid;
                border-radius: 1rem;
                overflow: hidden;
                margin: 1rem 0rem;
                width: 94%;
    
                input {  
                    display: none;
                }
    
                label {
                    width: 100%;
                    text-align: center;
                    padding: 0.75rem 0rem;
                    cursor: pointer;
                }
    
                #no {
                    &:hover+#noLabel {
    
                        background-color: var(--grey-02);
                        font-weight: 800;
                    }
    
                    &:checked+#noLabel {
                        background-color: var(--grey-01);
                        font-weight: 800;
                        color: var(--white-01);
                    }
                }
    
                #yes {
                    &:hover+#yesLabel {
    
                        background-color: var(--grey-02);
                        font-weight: 800;
                    }
    
                    &:checked+#yesLabel {
                        background-color: var(--red-color);
                        font-weight: 800;
                        color: var(--white-01);
                    }
                }

            }

            .forgotPasswordLink {
                align-self: flex-end;
                color: var(--grey-01);
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }

            .submitBtn {
                width: 95%;
                font-size: 1.5rem;
                border: 2px solid var(--dark-green);
                border-radius: 12px;
                padding: 1rem 5%;
                color: var(--dark-green);
                background-color: transparent;
                font-weight: 700;
                cursor: pointer;
                margin-bottom: 1rem;
                transition: all 0.25s ease-in-out;

                &:focus, &:hover {
                    background-color: var(--dark-green);
                    color: var(--light-green);
                }
                
                &.deleteBtn {
                    &:focus, &:hover {
                        background-color: var(--red-color);
                        color: var(--white-01);
                    }                    
                }
            }

            .textContainer {
                @include main.dFlex($fd: row);
                flex-wrap: wrap;
                text-align: center;
                font-size: 1.2rem;

                a {
                    padding: 0rem 0.5rem;
                    color: var(--url-color);
                }
            }
            .cancelBtn {
                color: #757575;
                &:hover {
                    color: var(--brand-color);
                    font-weight: 700;
                }
            }
        }
    }

    .displayMessageContainer {
        @include main.dFlex();
    }
}