// Font Family: Jet Brain Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;600;700;800&family=Macondo&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

@mixin dFlex($fd: column, $j: center, $a: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $j;
    align-items: $a;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:root {
    --text-color: #121212;
    --text-color-light: #565656;
    --bg-color: #fefefe; 
    --brand-color: #26B656;
    --brand-color-secondary: #E8FDFF;
    --url-color: #312fda;
    --shadow-color: #393939;

    // https://pigment.shapefactory.co/?a=061F27&b=94DBA0
    --dark-green: #061F27;
    --dark-green-2: #00636d;
    --light-green: #94DBA0;
    --light-green: #deffe3;

    --error-color: #ff0000;

    --light-grey-color: #aaaaaa;
    --red-color: #ff3a3a;
    --yellow-color: #fff53a;
    --green-color: #51ff3a; 
 
    --white-01: #ffffff;
    --black-01: #000000;
    --grey-01: #505050;
    --grey-02: #00000012;

    font-size: 12px;

    --brand-linear-color: linear-gradient(to right top, #26b656, #00b171, #00ab86, #00a395, #009b9c);

    .switchDisplayModeBtn {
        // image from: https://icons8.com/icons
        background: url("../imgs/light-mode.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

    }
}

.darkMode {
    --text-color: #fefefe;
    --text-color-light: #565656;
    --bg-color: #1d2820;

    --shadow-color: #393939;

    --light-green: #061F27;
    --dark-green: #deffe3;

    --grey-01: #9d9d9d;

    --url-color: rgb(118, 115, 255);

    --red-color: #a42222;
    --yellow-color: #cca300;
    --green-color: #26a422; 

}


// ================================
// Navigation Bar 
// ================================   
header {
    @include dFlex($fd: row, $j: space-between);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 90vw;
    height: 3.5rem;
    padding: 0.5rem 1vw;
    margin: 1.2rem 4vw;
    background-color: transparent;

    border: 2px var(--brand-color-secondary) solid;
    border-radius: 12px;

    box-shadow: 0 0 0.5rem var(--shadow-color);

    &::before {
        content: ' ';
        @include absCenter();
        height: 100%;
        width: 100%;
        background-color: #e8fdff54;
        // opacity: 0.2;
        border-radius: 12px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 99;
    }

    .leftContainer {


        @include dFlex($fd: row);
        height: 100%;
        text-decoration: none;
        z-index: 101;

        .logo {
            height: 90%;
        }

        .companyName {
            color: var(--text-color);

            padding: 0rem 1rem;
            color: var(--brand-color-secondary);
            text-shadow: 0 0 0.5rem var(--black-01);
            text-decoration: none;
        }
    }

    .rightContainer {
        @include dFlex($fd: row);
        height: 100%;
        z-index: 101;

        .navBar {

            @include dFlex($fd: row);
            height: 100%;

            .switchDisplayModeBtn {
                height: 60%;
                width: 2.5rem;
                border: none;
                margin: 0rem 0.5rem;
                filter: drop-shadow(0 0 0.1rem var(--black-01));
            }

            .goToAppBtn {
                background-color: var(--brand-color);
                padding: 0.4rem 1rem;
                margin: 0rem 0.5rem;
                border-radius: 0.5rem;
                text-decoration: none;
                color: var(--white-01);
                font-weight: 800;
                transition: 0.25s ease-in-out;
                border: var(--brand-color) 2px solid;
                font-size: 1.2rem;


                &:hover {
                    color: var(--brand-color);
                    background-color: transparent;
                }
            }
        } 

    }

}

.postBtn {
    @include dFlex();
    height: 3.5rem; 
    width: 3.5rem;
    border-radius: 100%;
    color: var(--dark-green);
    background-color: var(--light-green);
    border: 2px solid var(--dark-green);
    outline: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.25s;
    text-decoration: none;
    // line-height: 1.75;
    &:hover {
        background-color: var(--dark-green);
        color: var(--light-green);
        border: 2px solid var(--light-green);
    }
}



.postPopUp {
    z-index: 150;
    @include absCenter();
    @include dFlex();
    position: fixed;
    height: 100vh; 
    width: 100vw;
    background-color: #00000066;
    .newPostForm {
        @include dFlex();
        max-width: 400px;
        background-color: var(--bg-color);
        input {
            width: 90%;
        }
        .row {
            input {
                width: 42.5%;
            }
        }
    }
}

.normalText {
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0rem;
    line-height: 2rem;
    
}

.errorText {
    color: var(--error-color);
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0rem;
    line-height: 2rem;
}
.errorText {
    color: var(--error-color);
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0rem;
    line-height: 2rem;
}


.darkMode {


    .switchDisplayModeBtn {
        background: url("../imgs/dark-mode.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
 
    header {
        border-color: var(--dark-green-2); 
        &::before {
            background-color: #00636d54;
        }
    }
}