@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;600;700;800&family=Macondo&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

:root {
  --text-color: #121212;
  --text-color-light: #565656;
  --bg-color: #fefefe;
  --brand-color: #26B656;
  --brand-color-secondary: #E8FDFF;
  --url-color: #312fda;
  --shadow-color: #393939;
  --dark-green: #061F27;
  --dark-green-2: #00636d;
  --light-green: #94DBA0;
  --light-green: #deffe3;
  --error-color: #ff0000;
  --light-grey-color: #aaaaaa;
  --red-color: #ff3a3a;
  --yellow-color: #fff53a;
  --green-color: #51ff3a;
  --white-01: #ffffff;
  --black-01: #000000;
  --grey-01: #505050;
  --grey-02: #00000012;
  font-size: 12px;
  --brand-linear-color: linear-gradient(to right top, #26b656, #00b171, #00ab86, #00a395, #009b9c);
}
:root .switchDisplayModeBtn {
  background: url("../imgs/light-mode.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.darkMode {
  --text-color: #fefefe;
  --text-color-light: #565656;
  --bg-color: #1d2820;
  --shadow-color: #393939;
  --light-green: #061F27;
  --dark-green: #deffe3;
  --grey-01: #9d9d9d;
  --url-color: rgb(118, 115, 255);
  --red-color: #a42222;
  --yellow-color: #a4a022;
  --green-color: #26a422;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 90vw;
  height: 3.5rem;
  padding: 0.5rem 1vw;
  margin: 1.2rem 4vw;
  background-color: transparent;
  border: 2px var(--brand-color-secondary) solid;
  border-radius: 12px;
  box-shadow: 0 0 0.5rem var(--shadow-color);
}
header::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(232, 253, 255, 0.3294117647);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99;
}
header .leftContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  z-index: 101;
}
header .leftContainer .logo {
  height: 90%;
}
header .leftContainer .companyName {
  padding: 0rem 1rem;
  color: var(--brand-color-secondary);
  text-shadow: 0 0 0.5rem var(--black-01);
  text-decoration: none;
}
header .rightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 101;
}
header .rightContainer .navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .rightContainer .navBar .switchDisplayModeBtn {
  height: 60%;
  width: 2.5rem;
  border: none;
  margin: 0rem 0.5rem;
  filter: drop-shadow(0 0 0.1rem var(--black-01));
}
header .rightContainer .navBar .goToAppBtn {
  background-color: var(--brand-color);
  padding: 0.4rem 1rem;
  margin: 0rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--white-01);
  font-weight: 800;
  transition: 0.25s ease-in-out;
  border: var(--brand-color) 2px solid;
  font-size: 1.2rem;
}
header .rightContainer .navBar .goToAppBtn:hover {
  color: var(--brand-color);
  background-color: transparent;
}

.postBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  color: var(--dark-green);
  background-color: var(--light-green);
  border: 2px solid var(--dark-green);
  outline: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.25s;
  text-decoration: none;
}
.postBtn:hover {
  background-color: var(--dark-green);
  color: var(--light-green);
  border: 2px solid var(--light-green);
}

.postPopUp {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}
.postPopUp .newPostForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: var(--bg-color);
}
.postPopUp .newPostForm input {
  width: 90%;
}
.postPopUp .newPostForm .row input {
  width: 42.5%;
}

.errorText {
  color: var(--error-color);
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0rem;
  line-height: 2rem;
}

.darkMode .switchDisplayModeBtn {
  background: url("../imgs/dark-mode.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.darkMode header {
  border-color: var(--dark-green-2);
}
.darkMode header::before {
  background-color: rgba(0, 99, 109, 0.3294117647);
}

.newPostPopUp {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
}
.newPostPopUp .newPostForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 360px;
  background-color: var(--bg-color);
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.25rem var(--shadow-color);
}
.newPostPopUp .newPostForm .closeBtn {
  height: 2rem;
  align-self: flex-end;
}
.newPostPopUp .newPostForm .closeBtn img {
  height: 100%;
}
.newPostPopUp .newPostForm input,
.newPostPopUp .newPostForm select {
  font-size: 1.5rem;
  width: calc(100% - 2rem - 4px);
  border: solid 2px var(--text-color);
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin: 1rem 0rem;
  background-color: transparent;
  color: var(--text-color);
}
.newPostPopUp .newPostForm .placeholderText {
  color: #757575;
}
.newPostPopUp .newPostForm select {
  position: relative;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: var(--bg-color);
}
.newPostPopUp .newPostForm select:has(option:first-child:checked) {
  background-color: transparent;
  color: #757575;
}
.newPostPopUp .newPostForm .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.newPostPopUp .newPostForm .row input {
  width: 40%;
}
.newPostPopUp .newPostForm .row select {
  width: 45%;
}
.newPostPopUp .newPostForm .radioConatiner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--text-color) 2px solid;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem 0rem;
}
.newPostPopUp .newPostForm .radioConatiner input {
  display: none;
}
.newPostPopUp .newPostForm .radioConatiner label {
  width: 100%;
  text-align: center;
  padding: 0.75rem 0rem;
  cursor: pointer;
}
.newPostPopUp .newPostForm .radioConatiner #trafficJamLow:hover + #trafficJamLowLabel {
  background-color: var(--grey-02);
  font-weight: 800;
}
.newPostPopUp .newPostForm .radioConatiner #trafficJamLow:checked + #trafficJamLowLabel {
  background-color: var(--green-color);
  font-weight: 800;
}
.newPostPopUp .newPostForm .radioConatiner #trafficJamMedium:hover + #trafficJamMediumLabel {
  background-color: var(--grey-02);
  font-weight: 800;
}
.newPostPopUp .newPostForm .radioConatiner #trafficJamMedium:checked + #trafficJamMediumLabel {
  background-color: var(--yellow-color);
  font-weight: 800;
}
.newPostPopUp .newPostForm .radioConatiner #trafficJamHigh:hover + #trafficJamHighLabel {
  background-color: var(--grey-02);
  font-weight: 800;
}
.newPostPopUp .newPostForm .radioConatiner #trafficJamHigh:checked + #trafficJamHighLabel {
  background-color: var(--red-color);
  font-weight: 800;
}
.newPostPopUp .newPostForm .dateContainer label {
  width: auto;
}
.newPostPopUp .newPostForm .dateContainer .readonly {
  display: none;
  border: none;
  width: 100%;
  outline: none;
  pointer-events: none;
}
.newPostPopUp .newPostForm .dateContainer p {
  border: none;
  width: 100%;
  padding-left: 1rem;
  outline: none;
  pointer-events: none;
}
.newPostPopUp .newPostForm .submitBtn {
  font-size: 1.5rem;
  width: 100%;
  border: solid 2px var(--text-color);
  background-color: var(--grey-02);
  color: var(--text-color);
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin: 1rem 0rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.newPostPopUp .newPostForm .submitBtn:hover {
  background-color: var(--brand-color);
  color: var(--white-01);
}
.newPostPopUp .displayMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.newPostPopUp .displayMessageContainer p {
  text-shadow: 0 0 0.2rem var(--black-01);
  font-weight: 700;
}

.darkMode .newPostPopUp .newPostForm .closeBtn {
  filter: invert(1);
}/*# sourceMappingURL=popup.css.map */