@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;600;700;800&family=Macondo&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

:root {
  --text-color: #121212;
  --text-color-light: #565656;
  --bg-color: #fefefe;
  --brand-color: #26B656;
  --brand-color-secondary: #E8FDFF;
  --url-color: #312fda;
  --shadow-color: #393939;
  --dark-green: #061F27;
  --dark-green-2: #00636d;
  --light-green: #94DBA0;
  --light-green: #deffe3;
  --error-color: #ff0000;
  --light-grey-color: #aaaaaa;
  --red-color: #ff3a3a;
  --yellow-color: #fff53a;
  --green-color: #51ff3a;
  --white-01: #ffffff;
  --black-01: #000000;
  --grey-01: #505050;
  --grey-02: #00000012;
  font-size: 12px;
  --brand-linear-color: linear-gradient(to right top, #26b656, #00b171, #00ab86, #00a395, #009b9c);
}
:root .switchDisplayModeBtn {
  background: url("../imgs/light-mode.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.darkMode {
  --text-color: #fefefe;
  --text-color-light: #565656;
  --bg-color: #1d2820;
  --shadow-color: #393939;
  --light-green: #061F27;
  --dark-green: #deffe3;
  --grey-01: #9d9d9d;
  --url-color: rgb(118, 115, 255);
  --red-color: #a42222;
  --yellow-color: #a4a022;
  --green-color: #26a422;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 90vw;
  height: 3.5rem;
  padding: 0.5rem 1vw;
  margin: 1.2rem 4vw;
  background-color: transparent;
  border: 2px var(--brand-color-secondary) solid;
  border-radius: 12px;
  box-shadow: 0 0 0.5rem var(--shadow-color);
}
header::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(232, 253, 255, 0.3294117647);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99;
}
header .leftContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  z-index: 101;
}
header .leftContainer .logo {
  height: 90%;
}
header .leftContainer .companyName {
  padding: 0rem 1rem;
  color: var(--brand-color-secondary);
  text-shadow: 0 0 0.5rem var(--black-01);
  text-decoration: none;
}
header .rightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 101;
}
header .rightContainer .navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .rightContainer .navBar .switchDisplayModeBtn {
  height: 60%;
  width: 2.5rem;
  border: none;
  margin: 0rem 0.5rem;
  filter: drop-shadow(0 0 0.1rem var(--black-01));
}
header .rightContainer .navBar .goToAppBtn {
  background-color: var(--brand-color);
  padding: 0.4rem 1rem;
  margin: 0rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--white-01);
  font-weight: 800;
  transition: 0.25s ease-in-out;
  border: var(--brand-color) 2px solid;
  font-size: 1.2rem;
}
header .rightContainer .navBar .goToAppBtn:hover {
  color: var(--brand-color);
  background-color: transparent;
}

.postBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  color: var(--dark-green);
  background-color: var(--light-green);
  border: 2px solid var(--dark-green);
  outline: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.25s;
  text-decoration: none;
}
.postBtn:hover {
  background-color: var(--dark-green);
  color: var(--light-green);
  border: 2px solid var(--light-green);
}

.postPopUp {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}
.postPopUp .newPostForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: var(--bg-color);
}
.postPopUp .newPostForm input {
  width: 90%;
}
.postPopUp .newPostForm .row input {
  width: 42.5%;
}

.errorText {
  color: var(--error-color);
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0rem;
  line-height: 2rem;
}

.darkMode .switchDisplayModeBtn {
  background: url("../imgs/dark-mode.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.darkMode header {
  border-color: var(--dark-green-2);
}
.darkMode header::before {
  background-color: rgba(0, 99, 109, 0.3294117647);
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: all 0.25s ease-in-out;
}
body header {
  position: relative;
  border: 2px var(--text-color) solid;
}
body header::before {
  display: none;
}
body header .leftContainer .companyName {
  color: var(--text-color);
  text-shadow: none;
}
body header .rightContainer .navBar .switchDisplayModeBtn {
  filter: none;
}
body header .rightContainer .navBar .mapBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-01);
  border-radius: 100%;
  text-decoration: none;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0rem 0.5rem;
  border: var(--black-01) 2px solid;
  box-shadow: 0 0 0.1rem var(--shadow-color);
}
body header .rightContainer .navBar .mapBtn img {
  height: 80%;
}
body main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  width: calc(92vw - 16px);
  padding: 5rem 0rem;
  position: relative;
}
body main .tableContainer {
  position: relative;
  height: calc(100vh - 3.5rem - 4px - 3.4rem - 10rem - 8px - 4rem);
  overflow: auto;
  width: calc(48% - 4rem - 8px);
  border: solid 4px var(--dark-green);
  border-radius: 1rem;
  padding: 2rem;
}
body main .tableContainer h3 {
  font-size: 2rem;
}
body main .tableContainer .dataTable {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
}
body main .tableContainer .dataTable .dataHeaderRow {
  font-size: 1.2rem;
  background-color: var(--bg-color);
  width: 100%;
  border-bottom: 2px solid var(--dark-green);
}
body main .tableContainer .dataTable .dataHeaderRow .dataHeader {
  text-align: left;
  font-weight: 300;
  padding: 1rem;
  color: var(--grey-01);
  background-color: var(--bg-color);
  transition: all 0.25s ease-in-out;
}
body main .tableContainer .dataTable .dataHeaderRow .dataHeader:nth-child(3) {
  text-align: center;
}
body main .tableContainer .dataTable .dataHeaderRow .dataHeader:nth-child(2) {
  text-align: center;
  padding: 0;
}
body main .tableContainer .dataTable .dataContentRow {
  font-size: 1.5rem;
  border-bottom: 2px dotted var(--dark-green);
}
body main .tableContainer .dataTable .dataContentRow .dataContent {
  text-align: left;
  font-weight: 500;
  padding: 1rem;
  color: var(--text-color);
}
body main .tableContainer .dataTable .dataContentRow .dataContent:nth-child(3), body main .tableContainer .dataTable .dataContentRow .dataContent:nth-child(2) {
  text-align: center;
}
body main .tableContainer .dataTable .dataContentRow .status {
  position: relative;
  width: 2rem;
}
body main .tableContainer .dataTable .dataContentRow .status::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1rem;
  width: 1rem;
  border: solid 2px var(--text-color);
  background-color: var(--light-grey-color);
  border-radius: 100%;
}
body main .tableContainer .dataTable .dataContentRow .status.statusLight::after {
  background-color: var(--green-color);
}
body main .tableContainer .dataTable .dataContentRow .status.statusMedium::after {
  background-color: var(--yellow-color);
}
body main .tableContainer .dataTable .dataContentRow .status.statusHeavy::after {
  background-color: var(--red-color);
}
body main .personalInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  width: calc(48% - 4rem - 8px);
  height: calc(100vh - 3.5rem - 4px - 3.4rem - 10rem - 8px - 4rem);
  border: solid 4px var(--dark-green);
  border-radius: 1rem;
  padding: 2rem;
}
body main .personalInfoContainer .topContainer {
  width: 100%;
}
body main .personalInfoContainer .topContainer h3 {
  font-size: 2rem;
}
body main .personalInfoContainer .topContainer table {
  width: 100%;
}
body main .personalInfoContainer .topContainer table tr {
  height: 3rem;
}
body main .personalInfoContainer .topContainer table tr td {
  font-size: 1.5rem;
}
body main .personalInfoContainer .bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
}
body main .personalInfoContainer .bottomContainer .incompleteMessage {
  color: var(--grey-01);
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 0rem;
}
body main .personalInfoContainer .bottomContainer .buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}
body main .personalInfoContainer .bottomContainer .buttonContainer a {
  background-color: transparent;
  padding: 0.4rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--grey-01);
  font-weight: 800;
  transition: 0.25s ease-in-out;
  border: var(--grey-01) 2px solid;
  font-size: 1.2rem;
}
body main .personalInfoContainer .bottomContainer .buttonContainer a:hover {
  color: var(--brand-color);
  border-color: var(--brand-color);
}
body main .personalInfoContainer .bottomContainer .buttonContainer .logoutBtn {
  border-color: var(--red-color);
  color: var(--red-color);
}
body main .personalInfoContainer .bottomContainer .buttonContainer .logoutBtn:hover {
  background-color: var(--red-color);
  color: var(--text-color);
  border-color: var(--text-color);
}
body main .btnContainer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 0rem;
}

@media (max-width: 720px) {
  body main {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
  }
  body main .personalInfoContainer,
  body main .tableContainer {
    width: calc(100% - 4rem);
    height: auto;
    margin-bottom: 2rem;
  }
  body main .btnContainer {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
  }
}
.postPopUp {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.postPopUp .newPostForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 360px;
  background-color: var(--bg-color);
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
}
.postPopUp .newPostForm input {
  font-size: 1.5rem;
  width: calc(100% - 2rem - 4px);
  border: solid 2px var(--text-color);
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin: 1rem 0rem;
}
.postPopUp .newPostForm .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.postPopUp .newPostForm .row input {
  width: 40%;
}
.postPopUp .newPostForm .radioConatiner {
  position: relative;
}
.postPopUp .newPostForm .radioConatiner input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
}
.postPopUp .newPostForm .radioConatiner #trafficJamLow:checked + #trafficJamLowLabel,
.postPopUp .newPostForm .radioConatiner #trafficJamMedium:checked + #trafficJamMediumLabel,
.postPopUp .newPostForm .radioConatiner #trafficJamHigh:checked + #trafficJamHighLabel {
  background: #000;
}/*# sourceMappingURL=profile.css.map */