@use "main.scss";

html {
    overflow-x: hidden;
}

body {
    @include main.dFlex($j: start);
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);

    transition: all 0.25s ease-in-out;

    // ================================
    // Navigation Bar 
    // ================================   
    header {
        position: relative;
        border: 2px var(--text-color) solid;

        // background-color: var(--brand-color-secondary);
        &::before {
            display: none;
        }

        .leftContainer {
            .companyName {
                color: var(--text-color);
                text-shadow: none;
            }
        }

        .rightContainer {
            .navBar {
                .switchDisplayModeBtn {
                    filter: none;

                }

                .mapBtn {
                    @include main.dFlex();
                    background-color: var(--white-01);
                    border-radius: 100%;
                    text-decoration: none;
                    width: 2.4rem;
                    height: 2.4rem;
                    margin: 0rem 0.5rem;
                    border: var(--black-01) 2px solid;
                    box-shadow: 0 0 0.1rem var(--shadow-color);

                    img {
                        height: 80%;
                    }
                }
            }
        }
    }

    main {
        @include main.dFlex($fd: row, $a: start, $j: space-around);
        height: 100%;
        width: 100%;
        padding: 5rem 0rem;



        .tableContainer {
            position: relative;
            height: calc(100vh - 3.5rem - 4px - 3.4rem - 10rem - 8px - 4rem);
            overflow: auto;

            width: calc(42.5% - 4rem - 8px);
 
            border: solid 4px var(--dark-green);
            border-radius: 1rem;
            padding: 2rem;
            h3 {
                font-size: 2rem;
            }
            .dataTable {
                position: relative;
                width: 100%;
                border-collapse: collapse;
                border-radius: 1rem;


                .dataHeaderRow {
                    font-size: 1.2rem;
                    background-color: var(--bg-color);
                    width: 100%;
                    border-bottom: 2px solid var(--dark-green);





                    .dataHeader {
                        text-align: left;
                        font-weight: 300;
                        padding: 1rem;
                        color: var(--grey-01);
                        background-color: var(--bg-color);
                        transition: all 0.25s ease-in-out;


                        &:nth-child(2) {
                            text-align: center;
                        }
                    }
                }

                .dataContentRow {
                    font-size: 1.5rem;
                    border-bottom: 2px dotted var(--dark-green);

                    .dataContent {
                        text-align: left;
                        font-weight: 500;
                        padding: 1rem;
                        color: var(--text-color);
                        &:nth-child(2) {
                            text-align: center;
                        }
                    }
                    .status {
                        position: relative;
                        width: 3rem;
                        &::after {
                            content: " ";
                            @include main.absCenter();
                            height: 1rem; 
                            width: 1rem;
                            border: solid 2px var(--text-color);
                            background-color: var(--light-grey-color);
                            border-radius: 100%;
                        }

                        &.statusLight::after {
                            background-color: var(--green-color);
                        }
                        &.statusMedium::after {
                            background-color: var(--yellow-color);
                        }
                        &.statusHeavy::after {
                            background-color: var(--red-color);
                        }
                    }
                }
            }
            .btnContainer {

                position: absolute;
                bottom: 1rem;
                right: 1rem;
                padding: 0.5rem 0rem;
            }
        }

        .personalInfoContainer {
            @include main.dFlex($a: start, $j: space-between);
            position: relative;
            width: calc(42.5% - 4rem - 8px);
            height: calc(100vh - 3.5rem - 4px - 3.4rem - 10rem - 8px - 2rem);
            border: solid 4px var(--dark-green);
            border-radius: 1rem;
            padding: 1rem 2rem;
            .topContainer {
                width: 100%;
                h3 {
                    font-size: 2rem;
                }
                table {
                    width: 100%;
                    tr {
                        height: 3rem;
                        td {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            .bottomContainer {
                @include main.dFlex($a:end);
                width: 100%;
                .incompleteMessage {
                    color: var(--green-color);
                    align-self: center;
                    text-align: center;
                    font-size: 1.2rem;
                    padding: 2rem 0rem;
                }
                .buttonContainer {
                    @include main.dFlex($fd: row, $j: end );
                    flex-wrap: wrap;
                    a {
                        background-color: transparent;
                        padding: 0.4rem 1rem;
                        margin: 0.5rem;
                        border-radius: 0.5rem;
                        text-decoration: none;
                        color: var(--grey-01);
                        font-weight: 800;
                        transition: 0.25s ease-in-out;
                        border: var(--grey-01) 2px solid;
                        font-size: 1.2rem;
                        &:hover {
                            color: var(--text-color);
                            border-color: var(--text-color);
                        }
                    }
                    .logoutBtn {
                        border-color: var(--red-color);
                        color: var(--red-color);
                        &:hover {
                            background-color: var(--red-color);
                            color: var(--text-color);
                            border-color: var(--text-color);
                        }
                    }
                }
            }
        }
    }



}


@media (max-width: 720px) {
    body {
        main {
            padding: 1rem 0rem;
            flex-direction: column;
            align-items: center;

            .tableContainer {
                height: auto;
                width: 85%;
                margin-bottom: 2rem;
            }

            .personalInfoContainer {
                width: 85%;
                height: auto;
                min-width: none;
                margin-bottom: 2rem;
            }
        }
    }
}


.postPopUp {
    z-index: 150;
    @include main.absCenter();
    @include main.dFlex();
    position: fixed;
    height: 100vh;
    width: 100vw;
    font-size: 1.5rem;
    background-color: #00000066;

    .newPostForm {
        @include main.dFlex($a: start);
        max-width: 360px;
        background-color: var(--bg-color);
        font-size: 1.5rem;
        padding: 2rem;
        border-radius: 1rem;

        input {
            font-size: 1.5rem;
            width: calc(100% - 2rem - 4px);
            border: solid 2px var(--text-color);
            border-radius: 1rem;
            padding: 0.75rem 1rem;
            margin: 1rem 0rem;
        }

        .row {
            @include main.dFlex($fd: row, $j: space-between);
            width: 100%;

            input {
                width: 40%;
            }
        }

        .radioConatiner {
            position: relative;
            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 0px;
            }
            #trafficJamLow:checked + #trafficJamLowLabel,
            #trafficJamMedium:checked + #trafficJamMediumLabel,
            #trafficJamHigh:checked + #trafficJamHighLabel {
                background: #000;
              }   
        }
    }
}